[user]
	name = Stash
	email = jeremy.stashewsky@socialtext.com
[color]
	ui = auto
	sh = auto
[core]
	excludesfile = /home/stash/src/st/stconfig/.gitignore
	pager = less -FXRS
	whitespace = 
[github]
	user = stash
	token = 4447082a96b153b2ee0eae19bc33caa0
[alias]
	co = checkout
	ci = commit
	st = status
	lm = ls-files --exclude-standard -m
	ls = ls-files --exclude-standard
[format]
	pretty = oneline
[apply]
	whitespace = nowarn
[merge]
	tool = /usr/bin/vimdiff
